@charset;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: darkgray;
    padding: 3px;
    box-shadow: 2px 2px 4px 1 px black;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: un;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(165, 165, 165);
}


aside{
    background-color: rgb(93, 91, 91);
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
    margin: 0px
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50px;
}